---
import { getCollection } from 'astro:content';
import TrainingLayout from '@layouts/TrainingLayout.astro';
import TrainingLinks from '@components/TrainingLinks.astro'


export async function getStaticPaths() {
  const pages = await getCollection('training_purchase');
  return pages.map((entry, index) => {
    const slug = entry.slug == './' ? undefined : entry.slug
    return {params: {slug: slug }, props: { entry, pages, index }}
  })
}

const { entry, pages, index } = Astro.props;
const { Content } = await entry.render();
---

<TrainingLayout 
  entry={entry}
  pages={pages}
  training_category="training_purchase"
  header="Purchase Training"
  subheader="Card/Account Holders and Approving Officials"
  quiz_title="GSA SmartPay Purchase Training (Account Holder / AOs)"
  description={entry.data.description}
  >
  <div
    class="
      usa-layout-docs__main
      desktop:grid-col-9
      usa-prose usa-layout-docs
    "
  >
    <Content />
    <TrainingLinks pages={pages} index={index}  training_category="training_purchase"/>
</div>
</TrainingLayout>

