---
import GSAHeader from '@components/GSAHeader.astro';
import GSAFooter from '@components/GSAFooter.astro';
import USAIdentifier from '@components/USAIdentifier.astro';
import Banner from '@components/Banner.astro';
import SessionManger from '@components/SessionManager.vue';

const { title, description} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script is:inline src={`${import.meta.env.BASE_URL}js/uswds-init.min.js`}></script>
    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/styles.css`} />
    <link rel="icon" type="image/png" sizes="32x32" href={`${import.meta.env.BASE_URL}images/favicon-32x32.png`}>
    <link rel="icon" type="image/png" sizes="16x16" href={`${import.meta.env.BASE_URL}images/favicon-16x16.png`}>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={`${Astro.site}images/smartpay_meta_og_image.jpg`} /> 

    <title>{title}</title>
    
    <script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA" id="_fed_an_ua_tag"></script>
  </head>
  <body>
    <SessionManger client:only />
    <div id="app" class="grid-row flex flex-column height-full">
      <a class="usa-skipnav" href="#main-content">Skip to main content</a>
      <Banner />
      <div  class="background flex-fill">
        <GSAHeader />
        <div id="main-content" class="wide-layout">
          <main>
            <slot />
          </main>
        </div>
      </div>
      <footer class="usa-footer flex-shrink-0">
        <GSAFooter />
      </footer>
      <USAIdentifier /> 
    </div>
    <script is:inline src={`${import.meta.env.BASE_URL}js/uswds.min.js`}></script>
  </body>
</html>