---
import GSAHeader from '@components/GSAHeader.astro';
import GSAFooter from '@components/GSAFooter.astro';
import USAIdentifier from '@components/USAIdentifier.astro';
import Banner from '@components/Banner.astro';

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script is:inline src={`${import.meta.env.BASE_URL}js/uswds-init.min.js`}></script>
    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/styles.css`} />

    <link rel="apple-touch-icon" sizes="180x180" href='/images/apple-touch-icon.png'>
    <link rel="icon" type="image/png" sizes="32x32" href='/images/favicon-32x32.png'>
    <link rel="icon" type="image/png" sizes="16x16" href='/images/favicon-16x16.png'>

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="app" class="grid-row flex flex-column height-full">
      <a class="usa-skipnav" href="#main-content">Skip to main content</a>
      <Banner />
      <div  class="background flex-fill">
        <GSAHeader />
        <div id="main-content" class="wide-layout">
          <main>
            <slot />
          </main>
        </div>
      </div>
      <footer class="usa-footer flex-shrink-0">
        <GSAFooter />
      </footer>
      <USAIdentifier /> 
    </div>
    <script is:inline src={`${import.meta.env.BASE_URL}js/uswds.min.js`}></script>
  </body>
</html>