---
import BaseLayout from "./BaseLayout.astro";
import HeroTraining from "@components/HeroTraining.astro"
import SideNav from "@components/SideNav.astro"
import MobileNav from "@components/MobileNav.astro"

const {hero_image, entry, pages, training_category, header, subheader, quiz_title} = Astro.props;

// set banner background color class based on category type
let background_class  ="";
if(training_category.includes("purchase"))
{
  background_class = "color-sp-purchase-medium";
}
else if(training_category.includes("fleet"))
{
  background_class = "color-sp-fleet-dark";
}
else if(training_category.includes("travel")){
  background_class = "color-sp-travel-medium";
}
else
{
  background_class = "bg-primary";
}

---
<BaseLayout title={entry.data.title}>
  <HeroTraining hero_image={hero_image} background_class ={background_class}>
    <span slot="subheader">{subheader} {header}</span>
    {entry.data.title}
  </HeroTraining>
  <div class="usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap flex-align-start">
        <div class="tablet:display-none margin-bottom-4">
          <MobileNav id={entry.id} pages={pages} training_category={training_category} quiz_title={quiz_title} />
        </div>
       <div class="usa-layout-docs__sidenav desktop:grid-col-3 display-none tablet:display-block">
          <SideNav class="desktop-only" id={entry.id} pages={pages} training_category={training_category} quiz_title={quiz_title} />
        </div>
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
