---
import BaseLayout from '@layouts/BaseLayout.astro';
import QuizIndex from '@components/QuizIndex.vue';
import HeroTraining from '@components/HeroTraining.astro';

export function getStaticPaths() {
  const quizes = [
    {
      topic: 'Travel',
      audience: 'AccountHoldersApprovingOfficials',
      header: 'Travel Training',
      subhead: 'Card/Account Holders and Approving Officials',
      training_id: 'training_travel',
      title: "Travel Training for Card/Account Holders and Approving Officials"
    },
    {
      topic: 'Purchase',
      audience: 'AccountHoldersApprovingOfficials',
      header: 'Purchase Training',
      subhead: 'Card/Account Holders and Approving Officials',
      training_id: 'training_purchase',
      title: "Purchase Training for Card/Account Holders and Approving Officials"
    },
    {
      topic: 'Travel',
      audience: 'ProgramCoordinators',
      header: 'Travel Training',
      subhead: 'Program Coordinators',
      training_id: "training_travel_pc",
      title: "Travel Training For Program Coordinators"
    },
    {
      topic: 'Purchase',
      audience: 'ProgramCoordinators',
      header: 'Purchase Training',
      subhead: 'Program Coordinators',
      training_id: "training_purchase_pc",
      title: "Purchase Training For Program Coordinators"
    },
    {
      topic: 'Fleet',
      audience: 'ProgramCoordinators',
      header: 'Fleet Training',
      subhead: 'Program Coordinators',
      training_id: "training_fleet_pc",
      title: "Fleet Training For Program Coordinators"
    }
  ]
  return  quizes.map(({topic, audience, training_id, title, header, subhead}) => {
   return {
    params: {training_id},
    props: {topic, audience, title, header, subhead}
  }});
}

const { training_id } = Astro.params;
const { topic, audience, title, header, subhead } = Astro.props;
---
<BaseLayout title={title}>
  <HeroTraining>
    <span slot="subheader">{subhead}</span>
    {header} Quiz
  </HeroTraining>
  <QuizIndex topic={topic} audience={audience} pageId={training_id} title={title} header={header} subhead={subhead} client:load client:only />
</BaseLayout>