---
import BaseLayout from '@layouts/BaseLayout.astro';
import QuizIndex from '@components/QuizIndex.vue';
import HeroTraining from '@components/HeroTraining.astro';

export function getStaticPaths() {
  const quizes = [
    {
      topic: 'Travel',
      audience: 'AccountHoldersApprovingOfficials',
      header: 'Travel Training',
      subhead: 'Card/Account Holders and Approving Officials',
      training_id: 'training_travel',
      title: "Travel Training for Card/Account Holders and Approving Officials"
    },
    {
      topic: 'Purchase',
      audience: 'AccountHoldersApprovingOfficials',
      header: 'Purchase Training',
      subhead: 'Card/Account Holders and Approving Officials',
      training_id: 'training_purchase',
      title: "Purchase Training for Card/Account Holders and Approving Officials"
    },
    {
      topic: 'Travel',
      audience: 'ProgramCoordinators',
      header: 'Travel Training',
      subhead: 'Program Coordinators',
      training_id: "training_travel_pc",
      title: "Travel Training for Agency/Organization Program Coordinators (A/OPCs)"
    },
    {
      topic: 'Purchase',
      audience: 'ProgramCoordinators',
      header: 'Purchase Training',
      subhead: 'Program Coordinators',
      training_id: "training_purchase_pc",
      title: "Purchase Training For Program Coordinators"
    },
    {
      topic: 'Fleet',
      audience: 'ProgramCoordinators',
      header: 'Fleet Training',
      subhead: 'Program Coordinators',
      training_id: "training_fleet_pc",
      title: "Fleet Training For Program Coordinators"
    }
  ]
  return  quizes.map(({topic, audience, training_id, title, header, subhead}) => {
   return {
    params: {training_id},
    props: {topic, audience, title, header, subhead, training_id}
  }});
}

const { topic, audience, title, header, subhead, training_id} = Astro.props;

// set banner background color class based on category type
let background_class ="";
if(training_id.includes("purchase"))
{
  background_class = "color-sp-purchase-medium";
}
else if (training_id.includes("fleet"))
{
  background_class = "color-sp-fleet-dark";
}
else if(training_id.includes("travel")){
  background_class = "color-sp-travel-medium";
}


---
<BaseLayout title={title} >
  <HeroTraining background_class={background_class}>
    <span slot="subheader">{subhead}</span>
    {header} Quiz
  </HeroTraining>
  
  <QuizIndex 
    topic={topic}
    audience={audience}
    pageId={training_id}
    title={title}
    header={header}
    subhead={subhead}
    client:load
    client:only 
  />
</BaseLayout>