---
import BaseLayout from '../../layouts/BaseLayout.astro';
import QuizIndex from '../../components/QuizIndex.vue';
import HeroTraining from '../../components/HeroTraining.astro';
import hero_image from '../../assets/images/Training_TravelAH_Hero.jpg';

export function getStaticPaths() {
  const quizes = [
    {
      header: 'Travel Training',
      subhead: 'Card / Account Holders and Approving Officials',
      training_id: 'travel_training',
      title: "Travel Training for Card / Account Holders and Approving Officials"
    },
    {
      header: 'Purchase Training',
      subhead: 'Card / Account Holders and Approving Officials',
      training_id: 'purchase_training',
      title: "Purchase Training for Card / Account Holders and Approving Officials"
    },
    {
      header: 'Travel Training',
      subhead: 'Program Coordinators',
      training_id: "travel_training_pc",
      title: "Travel Training For Program Coordinators"
    },
    {
      header: 'Purchase Training',
      subhead: 'Program Coordinators',
      training_id: "purchase_training_pc",
      title: "Purchase Training For Program Coordinators"
    },
    {
      header: 'Fleet Training',
      subhead: 'Program Coordinators',
      training_id: "fleet_training_pc",
      title: "Fleet Training For Program Coordinators"
    }
  ]
  return  quizes.map(({training_id, title, header, subhead}) => {
   return {
    params: {training_id},
    props: {title, header, subhead}
  }});
}

const { training_id } = Astro.params;
const { title, header, subhead } = Astro.props;
---
<BaseLayout>
  <HeroTraining>
    <span slot="subheader">{subhead}</span>
    {header} Quiz
</HeroTraining>
<QuizIndex page_id={training_id} title={title} client:load />
</BaseLayout>