---
import GSALogo from '../assets/images/gsa-smartpay-training-logo.svg'
import closeIcon from '../assets/images/usa-icons/close.svg'
---
<header class="usa-header usa-header--extended">
    <div class="usa-navbar">
      <div class="usa-logo" id="header-logo">
          <a href={`${import.meta.env.BASE_URL}`}>
              <img class="usa-logo-img" src={GSALogo} alt="GSA SmartPay Logo" title="U.S. General Services Administration">
          </a>
      </div>
      <button type="button" class="usa-menu-btn cursor-pointer">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <div class="usa-nav__inner">
        <button type="button" class="usa-nav__close">
          <img src={ closeIcon } alt="Close" />
        </button>
        <ul id='header_main_menu' class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-one"
            >
              <span>Card/Account Holders &amp; Approving Officials</span>
            </button>
            <ul id="extended-nav-section-one" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}training_travel/`}><span class="margin-x-1">Travel Training</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}training_purchase/`}><span class="margin-x-1">Purchase Training</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-two"
            >
              <span>Program Coordinators</span>
            </button>
            <ul id="extended-nav-section-two" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}training_travel_pc/`}><span class="margin-x-1">Travel Training</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}training_purchase_pc/`}><span class="margin-x-1">Purchase Training</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}training_fleet_pc/`}><span class="margin-x-1">Fleet Training</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <a href={`${import.meta.env.BASE_URL}certificates`} class="usa-nav-link"><span>Access Past Certificates</span></a>
          </li>
          
        </ul>
      </div>
    </nav>
    </header>
  
