---
const { item, category } = Astro.props;
const aria_label_training = `${item.training_link_text} for ${category}`;
const aria_label_quiz = `Take the ${item.header.toLowerCase()} quiz for ${category}`;

---

<li class="usa-card tablet:grid-col-4">
  <div class="usa-card__container">
    <div class="usa-card__header">
      <h4 class="usa-card__heading">
        <span>
          <img 
          src={item.img_src}
          class="circle-icon"
          alt=""
          aria-hidden="true"
          />
        {item.header}</span></h4>
    </div>
    <div class="usa-card__body">
      <p>
        { item.text }
      </p>
    </div>
    
    <div class="usa-card__footer">
    <ul class="card_link">
      <li class="margin-y-1">
        <a href={item.training_link_name} class="usa-button" aria-label={aria_label_training}>
        {item.training_link_text}
        </a>
      </li>
      <li>
        <a href={item.quiz_link_name} class="margin-top-2" aria-label={aria_label_quiz}>
        Take the quiz
        </a>
      </li>
      </ul>
    </div>
  </div>
</li>

 <style>
  .circle-icon {
    vertical-align: top;
    width: 15%;
  }
  .card_link{
    list-style-type:none;
    display:block; 
    margin-left:0px; 
    padding-left:0px;
  }
  .usa-button{
    width: max-content;
  }
 </style>