---
import { getCollection } from 'astro:content';
import TrainingLayout from '@layouts/TrainingLayout.astro';
import TrainingLinks from '@components/TrainingLinks.astro'


export async function getStaticPaths() {
  const pages = await getCollection('training_purchase_pc');
  return pages.map((entry, index) => {
    const slug = entry.slug == './' ? undefined : entry.slug
    return {params: {slug: slug }, props: { entry, pages, index }}
  })
}

const { entry, pages } = Astro.props;
const { Content } = await entry.render();
---

<TrainingLayout 
  entry={entry}
  pages={pages}
  training_category="training_purchase_pc"
  header="Purchase Training"
  subheader="Agency/Organization Program Coordinators (A/OPCs)"
  quiz_title="GSA SmartPay Purchase Training (Program Coordinators)"
  description={entry.data.description}
  >
  <div
    class="
      desktop:grid-col-9
      usa-prose usa-layout-docs
    "
  >
    <Content />
    <TrainingLinks pages={pages} index={entry.data.order}  training_category="training_purchase_pc"/>
</div>
</TrainingLayout>

